/* Main SCSS stylesheet for my site */
/*
@import - add in code from other partial files. do not include the _ or .scss
@mixin - create a mixin (e.g. @mixin round($circumference) { })
  @include - refer to a mixin (e.g. box-shadow: @include round(10px); )
@extend - include styles from another existing style (e.g. change the colour of a base button)
*/
/* Vendor imports */

/* animations */

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/* Partials */
/* colors */
/* font family */
html {
  font-size: 10px;
  background: #F1F5F8;
  color: #373D3F;
  padding: 0;
  margin: 0;
text-rendering: optimizeLegibility;}

body {
  margin: 0;
  font-family: "Quicksand", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #eeeeee;
  font-size: 1.8rem;
  line-height: 1.566;
 }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }

h1, .h1 {
  font-size: 3.8rem; }

h2, .h2 {
  font-size: 3.4rem; }

h3, .h3 {
  font-size: 2.8rem; }

  h4, .h4 {
    font-size: 2.4rem; }

a {
  cursor: pointer;
  text-decoration: none;
  color: #f0932b;
  font-weight: 600;
  transition: 0.3s color ease; }
  a:hover {  color: #0088d4; }

a.underlined {
    border-bottom: 4px solid;
}

    .magenta { color: #527AC2;}



.is-kyle {
  background: -webkit-linear-gradient(bottom right, #0088d4, #0375B4); }

.section {
  max-width: 830px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: 30vmax;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-header {
  font-size: calc(18px + 2vmax);
  border-bottom: 3px solid #333333;
  width: fit-content;
}

.kyleButton {
  padding: 15px 30px;
  border: 1px dashed #fefefe;
  background-color: #333;
  transition: 0.3s all ease;
  margin-top: 20px;
  box-shadow: 0 0 0 5px #333; }
  .kyleButton :hover {
    background-color: #222;
    box-shadow: 0 0 0 5px #222; }


/* === First section === */

.first-section-title {
  font-size: 8vmax;
font-weight: 800;
letter-spacing: -4px;
background-image: -webkit-linear-gradient(92deg,red,yellow);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-animation: hue 10s infinite linear;
margin-bottom: 10px;
    line-height: 1;
 }

.first-section-subtitle {
  color: #060606;
font-size: calc(28px + 1vmax);
font-weight: 400;
margin-top: 0;
margin-bottom: 6vmax;
}

#first-section .short-seperator {
  display: block;
width: 80px;
border-bottom: 3px solid #030303;
margin-bottom: 13px;
}

#first-section .links {
    font-size: 30px;
    font-weight: 700;
        font-family: 'Raleway', sans-serif;
margin-bottom: 50px;
}

#first-section .links span {
  margin: 0 10px;
    font-weight: 600;
}


/* ----- intro section ----- */

#intro h2 {
  font-weight: 400;
}

#intro ul {
  font-size: 3rem;
}

/* ----- services ----- */

#services ul {
  font-size: 2.5rem;
}


/* ----  work section ---- */

#work h2 { font-weight: 400; }
#work h3 { font-size: 2.6rem; }
