/* Main SCSS stylesheet for my site */
/*
@import - add in code from other partial files. do not include the _ or .scss
@mixin - create a mixin (e.g. @mixin round($circumference) { })
  @include - refer to a mixin (e.g. box-shadow: @include round(10px); )
@extend - include styles from another existing style (e.g. change the colour of a base button)
*/
/* Vendor imports */

/* animations */

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@-webkit-keyframes into-place {
  from {
    transform: translateY(50px);
  }
  to {
    opacity: 1; transform:translateY(0px);
  }
}

/* Partials */
/* colors */
/* font family */
* {box-sizing: border-box;}
html {
  font-size: 10px;
  background: #F1F5F8;
  color: #373D3F;
  padding: 0;
  margin: 0;
text-rendering: optimizeLegibility;}

body {
  margin: 0;
  font-family: "Quicksand", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #eeeeee;
  font-size: 1.8rem;
  line-height: 1.566;
  font-weight: 600;
  padding-bottom: 10vh;
 }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }

h1, .h1 {
  font-size: 3.8rem; }

h2, .h2 {
  font-size: 3.4rem; }

h3, .h3 {
  font-size: 2.8rem; }

  h4, .h4 {
    font-size: 2.4rem; }

a {
  cursor: pointer;
  text-decoration: none;
  color: #f0932b;
  font-weight: 600;
  transition: 0.3s color ease; }
  a:hover {  color: #0088d4; }

a.underlined {
    border-bottom: 4px solid;
}

    .magenta { color: #527AC2;}



.is-kyle {
  background: -webkit-linear-gradient(bottom right, #0088d4, #0375B4); }

#first-section, .section {
  max-width: 830px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#first-section {
  min-height: 100vh;
}

.section.section-fluid {
  max-width: 100%;
}

.section.section-nomargin {
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.section-header {
  font-size: calc(10px + 1.5vmax);
  border-bottom: 3px solid #333333;
  width: fit-content;
}

.kyleButton {
  padding: 15px 30px;
  border: 1px dashed #fefefe;
  background-color: #333;
  transition: 0.3s all ease;
  margin-top: 20px;
  box-shadow: 0 0 0 5px #333; }
  .kyleButton :hover {
    background-color: #222;
    box-shadow: 0 0 0 5px #222; }


/* === First section === */

.first-section-title {
  font-size: 8vmax;
font-weight: 800;
letter-spacing: -4px;
background-image: -webkit-linear-gradient(92deg,red,yellow);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-animation: hue 10s infinite linear;
margin-bottom: 10px;
    line-height: 1;
    margin-top: calc(3vmin + 50px);
 }

.first-section-subtitle {
  color: #060606;
  font-size: calc(10px + 1.5vmax);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 4vmax;
}

#first-section .short-seperator {
  display: block;
width: 80px;
border-bottom: 3px solid #030303;
margin-bottom: 13px;
}

#first-section .links {
  font-size: calc(10px + 1.3vmax);
    font-weight: 700;
        font-family: 'Raleway', sans-serif;
margin-bottom: 50px;
}

#first-section .links span {
  margin: 0 10px;
    font-weight: 600;
}


/* ----- intro section ----- */

#intro h2 {
  font-weight: 400;
}

#intro ul {
  font-size: 3rem;
}

/* ----- services ----- */

/* #services ul {
  font-size: 2.5rem;
} */


/* ----  work section ---- */

#work h2 { font-weight: 400; }
#work h3 { font-size: 2.6rem; }

.work-inner-section { padding: 30px 3vw; background: white; margin-bottom:30px; box-shadow: 3px 3px 0px 0px #f0932b; }
.work-inner-section-header {
  display: grid;
  grid-template-areas: 
  'logo name'
  'logo date';
  align-items: flex-start;
  max-width: 400px;
}
p.work-inner-strapline {  font-size: 120%; }
.work-inner-section-header img, .work-inner-section-header svg { grid-area: logo; max-height: 95px; margin-right: 16px; }
.work-inner-section-header h2 { grid-area: name; margin: 0;}
.work-inner-section-header .work-section-date { grid-area: date; margin: 0;}

/* contact */
#contact { margin-bottom: 30px; }
form {
  width: 100%;
  background: white;
  padding: 30px 3vw;
  max-width: max-content;
  margin: 0 auto;
}
form * { display: block; }
form input, form textarea {
  margin-top: 6px;
  font-size: 20px;
  padding: 3px 0 3px 8px;
  border-radius: 3px;
  border: 2px solid #333333;
}
form label { margin-bottom: 16px;}
form input[type=submit] {
  font-size: 20px;
  background: orange;
  border: 0;
  padding: 4px 20px;
}
@media (max-width: 768px) {
  .section {
    min-height: 30vmax;
  }
}