/* Main SCSS stylesheet for my site */
/*
@import - add in code from other partial files. do not include the _ or .scss
@mixin - create a mixin (e.g. @mixin round($circumference) { })
  @include - refer to a mixin (e.g. box-shadow: @include round(10px); )
@extend - include styles from another existing style (e.g. change the colour of a base button)
*/
/* Vendor imports */
/* Partials */
@import "partials/colors-and-fonts";

html {
  font-size: calc(10px + 0.5vw);
  background: $main-bg-color;
  color: $main-color;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: $main-font;
    background-color: $secondary-bg-color;
    padding-bottom: 5vh;
}

h1 {
  font-size: calc(16px + 1.5vw);
}

h2 {
  font-size: calc(14px + 1vw);
}

h3 {
  font-size: calc(12px + 0.5vw);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $flair-color;
  transition: 0.3s color ease;

  :hover {
    color: $flair-color-hover;
  }
}

.is-kyle {
  background: -webkit-linear-gradient(bottom right, $flair-color-hover, $flair-color);
}

.main-container {
  max-width: 1300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.kyleButton {
  padding: 15px 30px;
  border: 1px dashed $main-bg-color;
  background-color: #333;
  transition: 0.3s all ease;
  margin-top: 20px;
  box-shadow: 0 0 0 5px #333;

  :hover {
    background-color: #222;
    box-shadow: 0 0 0 5px #222;
  }
}

.nav-item {
  font-size: 0.9rem;

  a {
    color: $main-bg-color;
  }

  a:hover {
    color: $main-bg-color;
  }

  :after {
    width: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-bottom: 2px solid $main-bg-color;
    transition: 0.3s width ease-in-out;
    display: block;
    content: "";
  }

  :hover:after {
    width: 100%;
  }
}

.nav-item:hover:after {
  width: 100%;
}

#home-header-inner .title {
  font-size: 4rem;
  font-weight: 400;
  color: $main-bg-color;
  font-family: $header-font;
}

#home-header-inner .subtitle {
  color: $main-bg-color;
  font-size: 2.125rem;
}

.kyle-image img {
  border-radius: 50%;
  max-width: 200px;
}

#about-me {
  padding: 50px 0 20px;
}

#about-me-container {
  width: 800px;
  margin: 0 auto;
}

#what-i-do > h2 {
  text-align: center;
  margin-bottom: 50px;
}

#services-row {
  max-width: 1040px;
  margin: 0 auto;
  padding: 10px 0;
}

.service {
  text-align: left;

  svg {
    fill: $main-color;
  }

  h3 {
    padding: 8px 0 10px;
    margin: 0;
  }

  p {
    margin: 0;
    line-height: 1.566;
  }
}

#skills-wrapper > h2 {
    text-align: center;
}

#skills-container {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
grid-row-gap: 10px;
}

.skill-header {
img {
  max-height: 64px;
}
p {
  font-size: 14px;
}
}

.skills-box {
margin-left: auto;
margin-right: auto;
box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
background-color: #fefefe;
border-radius: 3px;
min-width: 50%;
min-height: 150px;
display: flex;
justify-content: center;
align-items: center;
transform-style: preserve-3d;
}

.skills-box .skill-header {
  padding: 10px;

  img {
    transform: translateZ(20px);
  }
}

.skill-bar {
  text-align: center;
}

#contact-me {
  text-align: center;
  padding: 30px 0;
}
@media (max-width: 1300px) {
  #container {
    width: 100%;
    margin: 0 1em;
  }
}
