/* Kyle's Styles */
@supports (--main-bg-color: #fff) {
  :root {
    --main-bg-color: #fefefe;
    --secondary-bg-color: #eeeeee;
    --main-color: #333333;
    --flair-color: #0375B4;
    --flair-color-hover: #0088d4;
    --header-font: 'Open Sans', sans-serif;
    --main-font: 'Open Sans', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
}

html { font-size: 20px; background: var(--main-bg-color); color: var(--main-color); padding: 0; margin: 0}
body { margin: 0; font-family: var(--main-font); }
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }

a { cursor: pointer; text-decoration: none; color: var(--flair-color); transition: 0.3s color ease; }
a:hover { color: var(--flair-color-hover); }

.is-kyle {
  background-color: var(--flair-color);
}

#container { max-width: 1300px; margin-left: auto; margin-right: auto;}
.kyleButton {
  padding: 15px 30px;
  border: 1px dashed var(--main-bg-color);
  background-color: #333;
  transition: 0.3s all ease;
  margin-top: 20px;
  box-shadow: 0px 0px 0px 5px #333;
}

.kyleButton:hover {
  background-color: #222;
  box-shadow: 0px 0px 0px 5px #222;
}

.nav-item {
font-size: 0.9rem;
}

.nav-item:after {
  width: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-bottom: 2px solid white;
  transition: 0.3s width ease-in-out;
  display: block;
  content: "";
}

.nav-item:hover:after {
  width: 100%;
}

#home-header-inner .title {
  font-size: 4rem;
  font-weight: 400;
  color: var(--main-bg-color);
  font-family: var(--header-font);
}

#home-header-inner .subtitle{
  color: var(--main-bg-color);
  font-size: 2.125rem;
}

#about-me {
  padding: 50px 0px 20px;
}

#about-me-container {
  width: 800px;
  margin: 0 auto;
}

#what-i-do {
  padding: 40px 0px;
}

#what-i-do > h2 {
  text-align: center;
  margin-bottom: 50px;
}

#services-row {
  max-width: 1040px;
  margin: 0 auto;
  padding: 10px 0px;
}

.service {
  text-align: left;
}

.service svg {
  fill: var(--main-color);
}

.service h3 {
  padding: 8px 0 10px;
  margin: 0;
}

.service p {
  margin: 0;
  line-height: 1.566;
}


#what-i-do h2 {
  margin: 30px 0;
  font-size: 2em;
}

#contact-me {
  text-align: center;
  padding: 30px 0;
}

@media (max-width: 1300px) {
  #container {
    width: 100%;
    margin: 0px 1em;
  }
}

@media(max-width: 768px) {
  .one-half {
    width: 100%;
  }
}
