/* Kyle's Styles */
@supports (--main-bg-color: #fff) {
  :root {
    --main-bg-color: #fefefe;
    --secondary-bg-color: #eeeeee;
    --main-color: #333333;
    --header-color: #fefefe;
    --flair-color: #ffc425;
    --secondary-flair-color: #ae5a41;
    --header-font: 'Open Sans', sans-serif;
    --main-font: "Gentium Basic", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
}

html { font-size: 20px; background: var(--main-bg-color); color: var(--main-color); padding: 0; margin: 0}
body { margin: 0; font-family: var(--main-font); }
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }

a { cursor: pointer; text-decoration: none; color: var(--main-bg-color); }

#container { max-width: 1300px; margin-left: auto; margin-right: auto;}
.kyleButton {
  padding: 15px 30px;
  border: 1px dashed var(--main-bg-color);
  background-color: #333;
  transition: 0.3s all ease;
  margin-top: 20px;
  box-shadow: 0px 0px 0px 5px #333;
}

.kyleButton:hover {
  background-color: #222;
  box-shadow: 0px 0px 0px 5px #222;
}

#navigation-bar {
  position: absolute;
  width: 100%;
  max-width: 1400px;
  top: 0;
  z-index: 2;
}

#navigation-bar ul {
  float: right;
  list-style: none;
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

#navigation-bar ul li {
  padding: 0px 10px;
}

#navigation-bar ul .menu-item:after {
  width: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-bottom: 2px solid white;
  transition: 0.3s width ease-in-out;
  display: block;
  content: "";
}

#navigation-bar ul li:hover:after {
  width: 100%;
}

#home-header {
  position: relative;
  top: 0;
  width: 100%;
  background: url(london.jpg) 50% 50% no-repeat;
  background-size: cover;
height: 80vh;
min-height: 500px;
margin-bottom: 20px;
box-shadow: 0px 3px 3px 2px #333333;
}

#home-header-overlay {
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
}

#home-header-inner {
  text-align: center;
  color: var(--header-color)
}

#home-header h1 {
  font-size: 80px;
  font-weight: 100;
  margin-bottom: 10px;
  font-family: var(--header-font);
  font-weight: 700;
}

#home-header h3 {
  font-size: 30px;
}

#about-me {
  padding: 50px 0px 20px;
}

#about-me-container {
  width: 800px;
  margin: 0 auto;
}

#what-i-do {
  padding: 40px 0px;
}

#what-i-do > h2 {
  text-align: center;
  margin-bottom: 50px;
}

#services-row {
  max-width: 1040px;
  padding: 0px 20px;
  margin: 0 auto;
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 0 41px;
}

.service {
  text-align: left;
}

.service svg {
  fill: var(--main-color);
}

.service h3 {
  padding: 8px 0 10px;
  margin: 0;
}

.service p {
  margin: 0;
  line-height: 1.566;
}


#what-i-do h2 {
  margin: 30px 0;
  font-size: 2em;
}

#contact-me {
  text-align: center;
  padding: 30px 0;
}

@media (max-width: 1300px) {
  #container {
    width: 100%;
    margin: 0px 1em;
  }
}

@media(max-width: 768px) {
  .one-half {
    width: 100%;
  }
}
