/* Kyle's Styles */
@supports (--main-bg-color: #fff) {
  :root {
    --main-bg-color: #fefefe;
    --secondary-bg-color: #eeeeee;
    --main-color: #333333;
    --header-color: #fefefe;
    --flair-color: #ffc425;
    --secondary-flair-color: #ae5a41;
    --main-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
}

html { font-size: 20px; background: var(--main-bg-color); color: var(--main-color); padding: 0; margin: 0}
body { margin: 0;}
h1, h2, h3, h4, h5, h6 { font-family: var(--main-font)}
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }

a { cursor: pointer; text-decoration: none; color: var(--main-bg-color); }

#container { max-width: 1300px; margin-left: auto; margin-right: auto;}
.kyleButton {
  padding: 15px 30px;
  border: 1px dashed var(--main-bg-color);
  background-color: #333;
  transition: 0.3s all ease;
  margin-top: 20px;
  box-shadow: 0px 0px 0px 5px #333;
}

.kyleButton:hover {
  background-color: #222;
  box-shadow: 0px 0px 0px 5px #222;
}

#home-header {
  background: url(london.jpg) 50% 50% no-repeat;
  background-size: cover;
height: 80vh;
min-height: 500px;
margin-bottom: 20px;
}

#home-header-overlay {
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
}

#home-header-inner {
  text-align: center;
  color: var(--header-color)
}

#home-header h1 {
  font-size: 80px;
  font-weight: 100;
  margin-bottom: 10px;
}

#home-header h3 {
  font-size: 30px;
}

#about-me {

}

#card-row {
  display: flex;
display: -webkit-flex;
}

.kyle-card {
 background: var(--secondary-bg-color);
 width: calc(100% / 3);
 padding: 10px;
}

.kyle-card-header {
  font-size: 2em;
}

.kyle-card-content {

}

#contact-me {
  text-align: center;
  padding: 30px 0;
}

@media(max-width: 768px) {
  .one-half {
    width: 100%;
  }
}
