/* colors */

  $main-bg-color: #fefefe;
    $secondary-bg-color: #eeeeee;
    $main-color: #373D3F;
    $flair-color: #0375B4;
    $flair-color-hover: #0088d4;


/* font family */

    $header-font: 'Open Sans', sans-serif;
    $main-font: 'Open Sans', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
